body, html {
            margin: 0;
            padding: 0;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            background-image: url("img/28.jpg");
            background-repeat: repeat;
            background-position: left top;
            background-attachment: fixed;
            background-color: #111312;
            color: #FEFEFE;
            font-size: 130%;
        }
        .menu-container {
            width: 100%; 
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 1rem 2rem;
            box-sizing: border-box;
        }
        .menu-header {
            text-align: center;
            margin-bottom: 2rem;
        }
        .menu-header h1 {
            font-weight: 800;
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        .menu-header h1 span {
            font-size: 1.7rem;
        }
        .menu-content {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
        }
        .menu-column {
            flex: 1 1 400px;
            padding: 0 1rem;
        }
        
         .layout-2-3-1-3 .menu-content {
            flex-wrap: nowrap;
        }
        .layout-2-3-1-3 .menu-column-main {
            flex: 2;
            border-right: 1px solid #ccc;
        }
        .layout-2-3-1-3 .menu-column-side {
            flex: 1;
        }
        
        .nested-container {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            width: 100%;
            flex: 1;
            gap: 50px;
            box-sizing: border-box;
        }
        .nested-item-header {
            display: flex;
            flex-direction: column;
            margin: 0.2rem;
            flex: 1;
        }
        .nested-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: dashed 0.1rem #f2f2f2;
            width: 100%;
        }
        .menu-section {
            margin-bottom: 1rem;
        }
        .menu-graphics {
            text-align: center;
        }
        .menu-graphics img {
            max-width: 60%;
            height: auto;
            margin: 2rem auto;
        }
        .menu-section h2 {
            font-weight: 800;
            font-size: 2rem;
            border-bottom: 2px solid #f2f2f2;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
            color: #f3e16b;
        }
        .menu-section hr {
            border: 2px solid transparent;
        }
        .menu-item {
            margin-bottom: 1.6rem;
            padding-bottom: 0.8rem;
            border-bottom: dashed 0.1rem #f2f2f2;
        }
        .menu-item-header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 0.15rem;
        }
        .menu-item-name {
            font-size: 1.25rem;
            font-weight: bold;
        }
        .menu-item-price {
            font-size: 1.1rem;
            font-weight: bold;
        }
        .menu-item-description {
            font-size: 1rem;
            color: #f2f2f2;
            margin: 0.15rem 0;
            max-width: 80%;
        }
